{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>A propos du site</h1>
            <p> Vous êtes sur la maquette de "Infinite WEB", ce site a pour but de référencer des Eportfolios de personnes étudiant ou non afin de les aider à trouver un travail.<br>
            En tant que Visiteur : Vous pourrez rechercher un individu à l'aide de la recherche en tapant son nom dans la rubrique Eportfolio<br>
            En tant qu'Utilisateur : Vous pourrez créer votre folio, rechercher des Eportfolios mais aussi contacter les personnes en recherche de travail <br>
            Cette maquette est un projet en cours de dévéloppement en colaboration avec l'Etat pour aider les demandeurs d'emploi dans leurs recherches mais aussi aider les entreprises en leur permettant de rechercher des profils particulier.<br>
            Grâce a ce site web nous ésperons pouvoir diminuer le temps de recherches des demandeurs d'emplois.</p>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
            <h2>Nous Contacter</h2>
            <p><strong>Infinite Web.</strong><br>
               7 Rue Diderot <br>
               Arras, 62000<br>
               <abbr title="Portable">P:</abbr> 06 12 34 56 78<br>
               <strong>Infinite Spécialisation Web</strong><br>
               <a href="mailto:#">Infinite.Web@nouscontacter.fr</a></p>
               </div>
       </div>
    </div>
{% endblock %}
