{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>A propos du site</h1>
            <p> A remplir by Antho</p>
    </div>
{% endblock %}
