<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Bienvenue sur L'EPortFolio!{% endblock %}</title>
  {% stylesheets filter="scssphp" output="css/app.css"
  "assets/scss/_bootstrap.scss"
  "assets/css/*.css" %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}"/>
  {% block cvtheme %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block nav %}
  {% include "menu.html.twig" %}
{% endblock %}
{% block body %}{% endblock %}
{% include "footer.html.twig" %}
{% javascripts filter="?jsqueeze" output="js/app.js"
"assets/js/jquery.js"
"assets/js/bootstrap.js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
