{% block footer %}
<div class="container">
    <div class="row">
        <div class="col-md-2"><strong>Contact</strong></div>
    </div>
    <div class="col-md-4">
        <p>Infinite Web.<br>
            7 Rue Diderot <br>
            Arras, 62000<br>
            <abbr title="Portable">P:</abbr> 06 12 34 56 78<br>
            Infinite Spécialisation Web<br>
            <a href="mailto:#">Infinite.Web@nouscontacter.fr</a></p>
    </div>
{% endblock %}
