{% block footer %}
<div class="container">
    <div class="row">
        <div class="col-md-2"><h2>Nous Contacter</h2></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Infinite Web.</strong></div>
        <div class="col-md-2">7 Rue Diderot</div>
        <div class="col-md-2">Arras, 62000</div>
        <div class="col-md-2"> <abbr title="Portable">P:</abbr> 06 12 34 56 78<br></div>
        <div class="col-md-2"><a href="mailto:#">Infinite.Web@nouscontacter.fr</a></div>
        <div class="col-md-2"><strong>Infinite Spécialisation Web</strong></div>
    </div>
</div>
{% endblock %}
