{% block footer %}
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            Nous contacter
            <div class="row">
                <div class="col-xs-8 col-sm-6">
                    Infinite Web.
                </div>
                <div class="col-xs-4 col-sm-6">
                    7 rue diderot
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
