{% extends 'base.html.twig' %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Bienvenue à tous</h1>
            <p>Bienvenue sur la maquette de l'EPortFolio, cet EportFolio est en test pour un projet demandé par l'Etat.
             Pour d'ample informations aller dans la rubrique "plus d'informations", cliquez donc sur le lien ci dessous.  </p>
            <p><a class="btn btn-primary btn-lg" href="about" role="button">plus d'informations &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Chercher un Profil</h2>
                <p><a class="btn btn-default" href="{{ path('search') }}" role="button">Lancer la recherche &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
