{% extends 'base.html.twig' %}

{% block body %}
  <section class="container">
    <h2 class="text-center">Projets</h2>

    {% if user.xp.count == 0 %}
      <div class="alert alert-danger" role="alert">
        <strong>Mince !</strong> Aucune projet n'a pu être trouvée.
      </div>
    {% else %}
      <table>
        <thead>
        <tr>
          <th>Nom de Projet</th>
          <th>Description du projet</th>
          <th>Illustration du projet</th>
          <th>Lien vers le projet</th>
          <th>Sources de téléchargement du projet</th>
        </tr>
        </thead>
        <tbody>
        {% for xp in user.xp %}
        <tr>
          <td>project.name</td>
          <td>project.description</td>
          <td>project.media</td>
          <td>project.link</td>
          <td>project.sources</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </section>
{% endblock %}
