{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Ajout d'une formation</h1>
<form action="" method="post">
  <div>
               <label>L'année/Les années</label>
               <input type="Text" id="years"/>
           </div>
           <div>
               <label>Titre de la formation</label>
               <input type="Text" id="title"/>
           </div>
           <div>
               <label>Diplôme</label>
               <input type="Text" id="certificate"/>
           </div>
           <div>
               <label>Lieu</label>
               <input type="Text" id="place"/>
           </div>
           <div>
               <label>Descriptif</label>
               <input type="Text" id="description"/>
           </div>
           <div class="button">
               <button type="submit">Ajout d'une formation</button>
           </div>
       </form>
   </div>
{% endblock %}
