{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="text-center">Modifier une Expérience</h1>
    <form action="" method="post">
        <div>
            <label>L'année/Les années</label>
            <input type="Text" id="years"/>
        </div>
        <div>
            <label>Poste</label>
            <input type="Text" id="job"/>
        </div>
        <div>
            <label>Entreprise</label>
            <input type="Text" id="company"/>
        </div>
        <div>
            <label>Détail de la mission</label>
            <input type="Text" id="description"/>
        </div>
        <div>
            <label>Lieu</label>
            <input type="Text" id="place"/>
        </div>
        <div class="button">
            <button type="submit">Lancer la modification</button>
        </div>
    </form>
</div>
{% endblock %}
